<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.0" targetFramework="net452" />
  <package id="Fody" version="3.3.5" targetFramework="net452" developmentDependency="true" />
  <package id="MaterialDesignColors" version="1.1.3" targetFramework="net452" />
  <package id="MaterialDesignThemes" version="2.5.1" targetFramework="net452" />
  <package id="NPinyin" version="0.2.6321.26573" targetFramework="net452" />
  <package id="PropertyChanged.Fody" version="2.6.0" targetFramework="net452" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net452" />
  <package id="Stylet" version="1.1.22" targetFramework="net452" />
  <package id="Stylet.Start" version="1.1.22" targetFramework="net452" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
</packages>