/Dll/AIGS.vshost.exe
/Dll/AIGS.vshost.exe.manifest
/Dll/AIGS.pdb
/TIDALDL-PY/tidal-dl.ini
/TIDALDL-PY/tidal_dl.egg-info
/TIDALDL-PY/build
/TIDALDL-PY/dist
/TIDALDL-PY/__main__.spec
/TIDALDL-PY/tidal_dl/__pycache__
/TIDALDL-PY/exe/Track
/TIDALDL-PY/exe/Video
/TIDALDL-PY/exe/tidal-dl.ini
/TIDALDL-PY/exe/Album
/TIDALDL-PY/exe/Playlist
/TIDALDL-UI/obj
/TIDALDL-UI/bin/Release
/TIDALDL-UI/bin/Debug/Tidal-Media-Downloader.pdb
/TIDALDL-UI/bin/Debug/AIGS.pdb
/TIDALDL-UI/bin/Debug/MaterialDesignThemes.Wpf.pdb
/TIDALDL-UI/bin/Debug/MaterialDesignThemes.Wpf.xml
/TIDALDL-UI/bin/Debug/Tidal-dl.ini
/TIDALDL-UI/bin/Debug/Tidal-Media-Downloader.exe.config
/TIDALDL-CMD-1
/TIDALDL-UI-1
/trunk
TIDALDL-PY/launch.bat
