/Dll/AIGS.vshost.exe
/Dll/AIGS.vshost.exe.manifest
/Dll/AIGS.pdb
/TIDALDL-PY/tidal-dl.ini
/TIDALDL-PY/tidal_dl.egg-info
/TIDALDL-PY/build
/TIDALDL-PY/dist
/TIDALDL-PY/__main__.spec
/TIDALDL-PY/tidal_dl/__pycache__
/TIDALDL-PY/exe/Track
/TIDALDL-PY/exe/Video
/TIDALDL-PY/exe/tidal-dl.ini
/TIDALDL-PY/exe/Album
/TIDALDL-PY/exe/Playlist
/TIDALDL-UI/obj
/TIDALDL-UI/bin/Release
/TIDALDL-UI/bin/Debug/Tidal-Media-Downloader.pdb
/TIDALDL-UI/bin/Debug/AIGS.pdb
/TIDALDL-UI/bin/Debug/MaterialDesignThemes.Wpf.pdb
/TIDALDL-UI/bin/Debug/MaterialDesignThemes.Wpf.xml
/TIDALDL-UI/bin/Debug/Tidal-dl.ini
/TIDALDL-UI/bin/Debug/Tidal-Media-Downloader.exe.config
/TIDALDL-CMD-1
/TIDALDL-UI-1
/trunk
/TIDALDL-UI/TIDALDL-UI/bin/Debug/MaterialDesignThemes.Wpf.xml
/TIDALDL-UI/TIDALDL-UI/bin/Debug/policy.2.0.taglib-sharp.config
/TIDALDL-UI/TIDALDL-UI/bin/Debug/Stylet.xml
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-dl.ini
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-downloader.exe.config
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-downloader.pdb
/TIDALDL-UI/TIDALDL-UI/obj
/TIDALDL-UI/TIDALDL-UI.v12.suo
/TIDALDL-UI/.vs
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-ui-dl.exe.config
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-ui-dl.pdb
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-gui.application
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-gui.exe.config
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-gui.exe.manifest
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-gui.pdb
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-gui.vshost.application
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-gui.vshost.exe
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-gui.vshost.exe.config
/TIDALDL-UI/TIDALDL-UI/bin/Debug/tidal-gui.vshost.exe.manifest
/TIDALDL-UI/TIDALDL-UI/bin/Release/tidal-dl.ini
/TIDALDL-UI/TIDALDL-UI/bin/Release/tidal-gui.application
/TIDALDL-UI/TIDALDL-UI/bin/Release/tidal-gui.exe.config
/TIDALDL-UI/TIDALDL-UI/bin/Release/tidal-gui.exe.manifest
/TIDALDL-UI/TIDALDL-UI/bin/Release/tidal-gui.pdb
/TIDALDL-UI/TIDALDL-UI/bin/Release/app.publish
/TIDALDL-UI/TIDALDL-UI/bin/Release/MaterialDesignThemes.Wpf.xml
/TIDALDL-UI/TIDALDL-UI/bin/Release/policy.2.0.taglib-sharp.config
/TIDALDL-UI/TIDALDL-UI/bin/Release/Stylet.xml
/TIDALDL-PY/.vscode
/TIDALDL-UI/packages/Costura.Fody.3.3.0
/TIDALDL-UI/packages/Fody.3.3.5
/TIDALDL-UI/packages/MaterialDesignColors.1.1.3
/TIDALDL-UI/packages/MaterialDesignThemes.2.5.1
/TIDALDL-UI/packages/PropertyChanged.Fody.2.6.0
/TIDALDL-UI/packages/Stylet.1.1.22
/TIDALDL-UI/packages/Stylet.Start.1.1.22
/TIDALDL-UI/packages/taglib.2.1.0.0
/TIDALDL-UI/TIDALDL-UI/bin
TIDALDL-PY/__pycache__/setup.cpython-37.pyc
.gitignore
.gitignore
/TIDALDL-PY/settings.json
/TIDALDL-PY/usersettings.json
/TIDALDL-PY/__init__.spec
TIDALDL-PY/tidal_dl/lang/__pycache__/__init__.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/arabic.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/chinese.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/czech.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/english.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/filipino.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/italian.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/language.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/russian.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/turkish.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/__init__.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/__main__.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/cmdHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/configHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/convertHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/ffmpegHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/fileHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/httpHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/logHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/m3u8Helper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/mathHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/netHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/pathHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/pipHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/progressHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/serverHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/stringHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/systemHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/tagHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/threadHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/updateHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/versionHelper.cpython-37.pyc
TIDALDL-PY-原/build/__main__/aigpy-2020.7.3.0-py3.7.egg/aigpy/__pycache__/zipHelper.cpython-37.pyc
/TIDALDL-PY-原
/TIDALDL-UI-原
/TIDALDL-PY/download
TIDALDL-PY/tidal_dl/lang/__pycache__/croatian.cpython-37.pyc
TIDALDL-PY/tidal_dl/lang/__pycache__/spanish.cpython-37.pyc
TIDALDL-PY/tidal_dl_test.egg-info/dependency_links.txt
TIDALDL-PY/tidal_dl_test.egg-info/entry_points.txt
TIDALDL-PY/tidal_dl_test.egg-info/PKG-INFO
TIDALDL-PY/tidal_dl_test.egg-info/requires.txt
TIDALDL-PY/tidal_dl_test.egg-info/SOURCES.txt
TIDALDL-PY/tidal_dl_test.egg-info/top_level.txt
TIDALDL-PY/downloadd/Album/Capital Cities/[E] Solarize/01 - Space.flac.part
TIDALDL-PY/downloadd/Album/Capital Cities/[E] Solarize/cover.jpg
TIDALDL-PY/downloadd/Album/Capital Cities/[E] Solarize/01 - Space.flac.part
TIDALDL-PY/downloadd/Album/Capital Cities/[E] Solarize/cover.jpg
TIDALDL-PY/tidal_dl/lang/__pycache__/ukrainian.cpython-37.pyc
/TIDALDL-PY/tidal_dl/lang/__pycache__
/旧版备份
/usersettings.json
/settings.json
/download
download/Album/Ed Sheeran/÷ (Deluxe)/05 - Perfect.flac
download/Album/Ed Sheeran/÷ (Deluxe)/cover.jpg
download/Album/Ed Sheeran/÷ (Deluxe)/Tmp0/1.part
download/Album/Ed Sheeran/÷ (Deluxe)/Tmp0/5.part
download/Album/Ed Sheeran/÷ (Deluxe)/Tmp0/9.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/0.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/1.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/3.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/4.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/5.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/6.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/7.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/9.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/10.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/11.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/12.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/13.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/14.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/15.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/16.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/17.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/18.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/19.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/20.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/21.part
download/Playlist/Boy Bands- K-Pop Kings/Tmp0/22.part
/TIDALDL-GUI
/.vscode/.env
/.vscode/settings.json
/TIDALDL-PY/test/track.json
/TIDALDL-PY/test/video.json
/__init__.spec
/test.py
/TIDALDL-GUI-CROSS/MANIFEST.in
/TIDALDL-GUI-CROSS/__init__.spec
/TIDALDL-GUI-CROSS/workspace.code-workspace
/TIDALDL-GUI-CROSS/.idea
/TIDALDL-GUI-CROSS/tidal_gui/__pycache__
/TIDALDL-GUI-CROSS/tidal_gui/.tidal-dl.log
.idea
tidal_dl-BAK
/TIDALDL-PY2/tidal_dl
/TIDALDL-GUI-CROSS/tidal_gui/view/__pycache__
/TIDALDL-GUI-CROSS/tidal_gui/viewModel/__pycache__
/TIDALDL-GUI-CROSS/tidal_gui/control/__pycache__
__pycache__
clean.sh
TIDALDL-PY/MANIFEST.in
TIDALDL-PY/exe/resource
TIDALDL-PY/exe/tidal_dl_win.tar.gz
.github/workflows/continuous-integration-workflow copy.yml
TIDALDL-PY/tidal-gui.spec
.history/
.gitignore
/TIDALDL-PY/tidal_dl_old
/TIDALDL-PY/tidal_gui_old
/TIDALDL-PY/tidal_gui
