name: Build executables

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install build dependencies
        shell: bash
        run: |
          python -m pip install --upgrade pip
          python -m pip install wheel pyinstaller
          python -m pip install -r requirements.txt --upgrade
        working-directory: TIDALDL-PY

      - name: Clean build artifacts
        shell: bash
        run: |
          rm -rf dist
          rm -rf build
          rm -rf tidal_dl.egg-info
          rm -rf tidal_gui.egg-info
          rm -rf MANIFEST.in
        working-directory: TIDALDL-PY

      - name: Build tidal-dl binary
        shell: bash
        run: |
          python -m PyInstaller -F tidal_dl/__init__.py -n tidal-dl
        working-directory: TIDALDL-PY

      # - name: Build tidal-gui-macOs
      #   shell: bash
      #   if: ${{ matrix.os == 'macos-latest' }}
      #   run: |
      #     cp -rf guiStatic.in MANIFEST.in
      #     python -m PyInstaller -F tidal_gui/__init__.py -w -n tidal-gui
      #     cp -rf tidal_gui/resource dist/
      #   working-directory: TIDALDL-PY

      # - name: Build tidal-gui
      #   shell: bash
      #   if: ${{ matrix.os != 'macos-latest' }}
      #   run: |
      #     cp -rf guiStatic.in MANIFEST.in
      #     python -m PyInstaller -D tidal_gui/__init__.py -w -n tidal-gui
      #   working-directory: TIDALDL-PY

      # - name: Gzip tidal-gui
      #   shell: bash
      #   if: ${{ matrix.os != 'macos-latest' }}
      #   run: |
      #     cp -rf ../tidal_gui/resource ./tidal-gui/
      #     tar -zcvf tidal-gui.tar.gz tidal-gui
      #     rm -rf tidal-gui
      #   working-directory: TIDALDL-PY/dist

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tidal-dl-${{ runner.os }}
          path: TIDALDL-PY/dist/*
